<!-- <app-customer-core></app-customer-core> -->

<!-- it does not contains the proper ui i mean appcustomer core -->

<!-- so that i will prepare one componet for rich ui with the help of bootstrap -->
<!-- 
if you want to know about the services you should know the 
component communication -->

<!-- service is a very simple concept -->

<!-- i have created one form.
when i click the submit button . i want to push the record in the table -->

  <!-- posting -->
  <!-- <app-order></app-order> -->

  <!-- <hr> -->
  <!-- Orders is the array which is useful for giving the data to 
  the app-order-details -->

  <!-- fetching -->
  <!-- <app-order-details  [Orders] = "Orders"></app-order-details> -->


  <!-- <app-dynamicelement></app-dynamicelement> -->
  
  <!-- <app-observable-one></app-observable-one> -->


  <app-custom-observable></app-custom-observable>