<!-- table which contains the multiple rows
  for handling multiple values we have to use the 
  *ngFor directive
  row is nothing but single object
  mulitple rows nothing but multiple objects -->
  
  <div class="container" style="margin-top: 50px;">
    <table class="table table-bordered">
      <thead style="background-color:yellow">
        <tr>
        <td>OrderName</td>
        <td>ShipName</td>
        <td>Area</td>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of Orders">
          <td>{{order.OrderName}}</td>
          <td>{{order.ShipName}}</td>
          <td>{{order.Area}}</td>
        </tr>
        <!-- <tr>
          <td>
            Pizza
          </td>
          <td>
            Swiggy
          </td>
          <td>HSR</td>
        </tr> -->
      </tbody>
    </table>
  </div>

